Package: hljs-org-environment
Version: 1.0
Priority: optional
Architecture: all
Depends: python3, nginx, uwsgi, zlib1g-dev
Maintainer: Ivan Sagalaev <maniac@softwaremaniacs.org>
Description: Server environment for hljs_org project
