{% extends "base.html" %}
{% block title %}Contribute to highlight.js{% endblock %}

{% block header %}
<h1>Contribute to <a href="{% url 'index' %}">highlight.js</a></h1>
{% endblock %}

{% block content %}
<p>Highlight.js is a product of labor of <a href="https://github.com/highlightjs/highlight.js/blob/main/CONTRIBUTORS.md">many people</a>. Here's a few links to get you started:
<ul class="ui">
  <li><a href="https://github.com/highlightjs/highlight.js">Source</a> on GitHub
  <li><a href="http://highlightjs.readthedocs.org/">Developer docs</a> on Read the Docs
</ul>
{% endblock %}
