{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}Getting highlight.js{% endblock %}

{% block codestyle %}<link rel="stylesheet" href="{% static 'code.css' %}">{% endblock %}

{% block header %}
  <h1>Getting <a href="{% url 'index' %}">highlight.js</a></h1>
{% endblock %}


{% block content %}
<div id="content">

  <h2>Hosted</h2>

  {% if cdns %}
  <p>A prebuilt version of highlight.js is hosted by following CDNs:

  <div id="cdns">
  {% for title, script_url, style_url in cdns %}
  <h3>{{ title }}</h3>
<pre><code>&lt;link rel="stylesheet" href="{{ style_url }}"&gt;
&lt;script src="{{ script_url }}"&gt;&lt;/script&gt;
</code></pre>
  {% endfor %}
  </div>

  <p>It includes commonly used languages (listed below in the download form).

  <p>For available style names look into the highlight.js <a href="https://github.com/isagalaev/highlight.js/tree/master/src/styles">styles directory</a> (and don't forget to add ".min" before ".css").
  {% else %}
  <p><i>Version {{ version }} has not yet been updated on CDNs. Check back soon!</i>
  {% endif %}

  <h2>Custom package</h2>

  <p>You can download a custom bundle including only the languages you need.

  <form id="download-form" action="{% url 'download' %}" method="post">
    {% csrf_token %}
    <p><b>Common</b>
    <ul>
      {% for info, filename in commons %}
      <li><label><input type="checkbox" name="{{ filename }}" checked> {{ info.Language }}</label>
      {% endfor %}
    </ul>
    <p><b>Other</b>
    <ul>
      {% for info, filename in others %}
      <li><label><input type="checkbox" name="{{ filename }}"> {{ info.Language }}</label>
      {% endfor %}
    </ul>

    <p><button type="submit">Download</button>
  </form>

  <h2>Node.js</h2>

  <p>Highlight.js can be used on the server through the <a href="http://highlightjs.readthedocs.org/en/latest/api.html">API</a>. The package with all supported languages is installable from <a href="http://npmjs.org">NPM</a>:

  <pre><code class="no-highlight">npm install highlight.js</code></pre>

  <p>Alternatively, you can build it from the source:

  <pre><code class="no-highlight">python3 tools/build.py -tnode</code></pre>

  <h2>Source</h2>

  <p><a href="https://github.com/isagalaev/highlight.js">Current source</a> is available on GitHub

  <h2>How to use it</h2>

  <p>Refer to the <a href="{% url 'usage' %}">usage document</a>.

</div>
{% endblock %}
