{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}highlight.js{% endblock %}

{% block codestyle %}<link rel="stylesheet" href="{% static 'styles/' %}{{ codestyle }}.css">{% endblock %}
{% block highlightinit %}
<script>
  $(document).ready(function(){
    hljs.initHighlighting();
    var language = $('#snippet pre code').get(0).result.language;
    $('a#language-link').html($('#snippet pre code').get(0).result.language);
  });
</script>
{% endblock %}

{% block header %}
  <h1>highlight.js</h1>
  <p>Syntax highlighting for the Web</p>
{% endblock %}

{% block content %}
<div id="content">
  <div id="snippet">
    <pre><code>{{ snippet.code }}</code></pre>
    <div id="control">
      language: <a id="language-link" href="{% url 'index' %}?codestyle={{ codestyle }}">{{ snippet.pk }}</a>
      style: <a id="style-link" href="{% url 'index' %}?snippet={{ snippet.pk }}">{{ codestyle }}</a>
    </div>
  </div>
  <div id="description">
    <ul id="features" class="ui">
      <li>{{ counts.languages }} languages and {{ counts.styles }} styles
          (<a href="{% static 'test.html' %}">live demo</a>)
      <li>automatic language detection
      <li>multi-language code highlighting
      <li>available for node.js
      <li>works with any markup
      <li>compatible with any js framework
    </ul>
    <div id="download">
      <p><a href="{% url 'download' %}">Get version {{ version }}</a>
    </div>
    <p id="usage"><a href="{% url 'usage' %}">Usage</a>
  </div>
  <div id="contribute">
    <p><a href="{% url 'contribute' %}">Contribute</a>
  </div>
  <div id="news">
    <div id="social">
      <p><a href="https://twitter.com/highlightjs"><img src="{% static 'twitter.png' %}">@highlightjs</a>
    </div>
    <h2>News</h2>
    <ol>
      {% for item in news %}
      <li>
        <div class="time">{{ item.created|date:'Y-m-d' }}</div>
        <div class="text">{{ item.html }}</div>
      {% endfor %}
    </ol>
  </div>
</div>
{% endblock %}
