{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}highlight.js{% endblock %}

{% block codestyle %}<link rel="stylesheet" href="{% static codestyle %}">{% endblock %}

{% block header %}
  <h1>highlight.js</h1>
  <p>Syntax highlighter in JavaScript</p>
{% endblock %}

{% block content %}
<div id="content">
  <div id="snippet">
    <a href="{% url 'index' %}"><pre><code>{{ snippet.code }}</code></pre></a>
    <script>
      addEventListener('load', function () {
        var snippet = document.getElementById('snippet');
        var code = snippet.getElementsByTagName('code')[0];
        var style = '{{ codestyle }}'.replace(/styles\//, '');
        snippet.title = code.result.language + ' + ' + style;
      }, false);
    </script>
  </div>
  <div id="description">
    <ul id="features" class="ui">
      <li>{{ counts.languages }} languages and {{ counts.styles }} styles
          (<a href="{% static 'test.html' %}">live demo</a>)
      <li>works server-side and in browser
      <li>use hosted or download a custom build
      <li>works with any markup
      <li>compatible with any js framework
      <li>language detection, good for markdown
    </ul>
    <div id="download">
      <p><a href="{% url 'download' %}">Get version {{ version }}</a>
    </div>
    <p id="usage"><a href="{% url 'usage' %}">How to use it</a>
  </div>
  <div id="contribute">
    <p><a href="{% url 'contribute' %}">Contribute</a>
  </div>
  <div id="news">
    <div id="social">
      <p><a href="https://twitter.com/highlightjs"><img src="{% static 'twitter.png' %}">@highlightjs</a>
    </div>
    <h2>News</h2>
    <ol>
      {% for item in news %}
      <li>
        <div class="time">{{ item.created|date:'Y-m-d' }}</div>
        <div class="text">{{ item.html }}</div>
      {% endfor %}
    </ol>
  </div>
</div>
{% endblock %}
