{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}highlight.js{% endblock %}

{% block codestyle %}
{% for s in styles %}<link class="codestyle" rel="{% if s != style %}alternate {% endif %}stylesheet" href="{% static 'demo/styles/' %}{{ s }}.css">
{% endfor %}
{% endblock %}
{% block highlightinit %}
<script>
  function initSnippet() {
    var snippet = document.querySelector('#snippet pre code');
    hljs.highlightBlock(snippet);
    var style = document.getElementById('style-link').textContent;
    var links = document.querySelectorAll('.codestyle');
    Array.prototype.forEach.call(links, function(link) {
      link.rel = 'stylesheet';
      link.disabled = !link.href.match(style + '\\.css$');
    });
    document.getElementById('language-link').innerHTML = snippet.result.language;
    var controls = document.querySelectorAll('#control a');
    Array.prototype.forEach.call(controls, function(control) {
      control.addEventListener('click', function(e) {
        e.preventDefault();
        var request = new XMLHttpRequest();
        request.open('GET', control.href, true);
        request.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
        request.onreadystatechange = function() {
          if (request.readyState = XMLHttpRequest.DONE && request.status == 200) {
            document.getElementById('snippet').innerHTML = request.responseText;
            initSnippet();
          }
        };
        request.send();
      });
    });
  }

  addEventListener('load', initSnippet);
</script>
{% endblock %}

{% block header %}
  <h1>highlight.js</h1>
  <p>Syntax highlighting for the Web</p>
{% endblock %}

{% block content %}
<div id="snippet">
{% include 'snippet.html' %}
</div>
<div id="description">
  <ul id="features" class="ui">
    <li>{{ counts.languages }} languages and {{ counts.styles }} styles
        (<a href="{% static 'demo/' %}">live demo</a>)
    <li>automatic language detection
    <li>multi-language code highlighting
    <li>available for node.js
    <li>works with any markup
    <li>compatible with any js framework
  </ul>
  <div id="download">
    <p><a href="{% url 'download' %}">Get version {{ version }}</a>
  </div>
  <p id="usage"><a href="{% url 'usage' %}">Usage</a>
</div>
<div id="contribute">
  <p><a href="{% url 'contribute' %}">Contribute</a>
</div>
<div id="news">
  <div id="social">
    <p><a href="https://twitter.com/highlightjs"><img src="{% static 'twitter.png' %}">@highlightjs</a>
  </div>
  <h2>News</h2>
  <ol>
    {% for item in news %}
    <li id="news-{{ item.pk }}">
      <div class="time"><a href="#news-{{ item.pk }}">{{ item.created|date:'Y-m-d' }}</a></div>
      <div class="text">{{ item.html }}</div>
    {% endfor %}
  </ol>
</div>
{% endblock %}
