{% extends 'base.html' %}
{% block title %}Update status{% endblock %}

{% block header %}<h1>Update status</h1>{% endblock %}

{% block content %}
<div id="updates">
  {% for update in updates %}
  <p class="version"><b>Version {{ update.version }}</b>
  <div class="time">
    <p>Started: <time>{{ update.started|date:'Y-m-d H:i:s' }}</time>
    <p>Finished: <time>{{ update.finished|date:'Y-m-d H:i:s' }}</time>
  </div>
  <div class="status {{ update.status }}">
    <p>Status: <b>{{ update.status }}</b>
    {% if update.error %}
    <pre class="error">{{ update.error }}</pre>
    {% endif %}
  </div>
  {% endfor %}
</div>

<script>
  var divs = document.querySelectorAll('.status.failed');
  Array.prototype.forEach.call(divs, function(div) {
    var link = div.querySelector('b');
    var pre = div.querySelector('.error');
    pre.classList.add('hidden');
    link.classList.add('active');
    link.addEventListener('click', function() {
      pre.classList.toggle('hidden');
    })
  });

</script>
{% endblock %}
