pre {
  margin: 2em;
}

pre code .hljs-keyword,
pre code .hljs-title {
  font-weight: bold;
}

pre code .hljs-string,
pre code .hljs-value {
  color: #F88;
}

pre code .hljs-comment {
    color: #AAA;
}
