@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
  color: white;
  background: #600;
  margin: 0 auto;
  width: 50em;
  font-family: PT Sans;
}

a {
  color: white;
}

h2 {
  margin: 2em 0 1em 0;
  font: bold 150%;
}

li {
  list-style: square;
  margin: 0.25em 0 0.25em 1em; padding: 0 0 0 0.5em;
}

#header {
  padding: 5em 0 3em 0;
}

#header h1 {
  font: bold 250%;
  margin: 0;
}

#header p {
  font-style: italic;
}

#snippet {
  float: left; width: 22em;
  padding: 1em;
  background: #500;
  border-width: 1px;
  border-style: solid;
  border-color: #400 #700 #700 #400;
  overflow: hidden;
}

#snippet a {
  text-decoration: none;
}

#snippet pre {
  margin: 0;
}

#snippet pre code {
  display: block;
  padding: 1em;
  font: normal 11pt Ubuntu Mono;
}

#description {
  margin-left: 26em;
}

#features {
  margin: 0; padding: 0;
}

#download {
  padding: 1em 0;
}

#download a {
  display: block; width: 12em;
  margin: 0 auto;  padding: 1em;
  text-align: center;
  background: linear-gradient(to bottom, #444, #333);
  border-color: #555 #222 #222 #555;
  border-style: solid;
  border-width: 0.1em;
  border-radius: 0.2em;
  text-decoration: none;
  font-weight: bold;
  font-size: 120%;
}

#contribute {
  position: absolute;
  top: 0; right: 0;
}

#contribute p {
  margin: 0;
}

#contribute a {
  display: block;
  background: #444;
  margin: 0; padding: 0.2em 0; width: 16em;
  transform: translate(50%, -50%) rotate(45deg) translate(0, 5em);
  -webkit-transform: translate(50%, -50%) rotate(45deg) translate(0, 5em);
  text-align: center;
  border-color: #555 #333 #333 #555;
  border-width: 0.1em;
  border-style: solid;
  font-weight: bold;
  text-decoration: none;
}

#news {
  clear: both;
  padding-top: 2em;
}

#news ol,
#news li {
  list-style: none;
  margin: 0; padding: 0;
}

#news li .time {
  float: left;
  margin: 0;
  font-size: 80%;
  font-style: italic;
  color: #AAA;
}

#news li .text {
  margin-left: 6em;
}

#download-form ul {
  overflow: auto;
  margin: 1em 0; padding: 0;
}

#download-form li {
  margin: 0.2em 0; padding: 0;
  list-style: none;
  float: left; width: 24.5%;
}

#contribute-links {
  padding: 0;
}
